:root {
    --color-primary: rgb(222, 78, 1);
    --color-black: black;
    --color-white: white; 
    --color-yellow: rgb(248, 248, 33); 
    --color-new: rgb(30, 25, 48);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial' , 'sans-serif';
}

body {
    display: block;
    background-attachment: fixed;
    background-color: var(--color-primary);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fish_cins {
    background-color: var(--color-new);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.Logo{
    color: var(--color-yellow);
    font-size: 30px;
}

.Logo span {
    color: var(--color-primary);
}

.fish_cins ul {
    list-style: none;
    display: flex;
}

.fish_cins ul li {
    padding: 10px 30px;
    position: relative;
}

.fish_cins ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s;
}

.fish_cins ul li a:hover {
    color: var(--color-primary);
}

.fish {
    display: none;
}

.fish_cins ul li:hover .fish {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(30, 25, 48);
}

.fish_cins ul li:hover .fish ul {
    display: block;
    margin: 10px;
}

.fish_cins ul li:hover .fish ul li {
    width: 150px;
    padding: 10px;
}

.home-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.home-content {
    display: flex;
    align-items: flex-start;
}

.content-left {
    flex: 0 0 60%; /* adjust left width of content */
}

.content-right {
    flex: 0 0 30%; /*adjust right width of content */
    /* You can add styles for the images here */
}

/* Title and description */
.home-title {
    font-size: 4em;
    margin-bottom: 20px;
}

.home-description {
    font-size: 1.5em;
    line-height: 1.6;
}
