:root {
    --color-primary: rgb(222, 78, 1);
    --color-black: black;
    --color-white: white; 
    --color-yellow: rgb(248, 248, 33); 
    --color-new: rgb(30, 25, 48);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial' , 'sans-serif';
}

body {
    display: block;
    background-attachment: fixed;
    background-color: #b84802;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fish_cins {
    background-color: var(--color-new);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.Logo{
    color: var(--color-yellow);
    font-size: 30px;
}

.Logo span {
    color: var(--color-primary);
}

.fish_cins ul {
    list-style: none;
    display: flex;
}

.fish_cins ul li {
    padding: 10px 30px;
    position: relative;
}

.fish_cins ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s;
}

.fish_cins ul li a:hover {
    color: var(--color-primary);
}

.fish {
    display: none;
}

.fish_cins ul li:hover .fish {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(30, 25, 48);
}

.fish_cins ul li:hover .fish ul {
    display: block;
    margin: 10px;
}

.fish_cins ul li:hover .fish ul li {
    width: 150px;
    padding: 10px;
}

.home-section {
    display: flex;
    padding: 20px;
}

.content-left {
    flex: 1; /* Adjusts left content size */
}

.content-right {
    display: flex;
    flex-direction: column;
    flex: 1; /* Adjusts right content size */
    justify-content: flex-start;
}

.content-right img {
    max-width: 75%; /*image size */
    height: auto;
    margin-bottom: 20px; /* space between images */
}

.home-title {
    font-size: 5em;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #000000;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.home-description {
    font-size: 1.8em;
    font-family: 'Lobster', cursive;
    line-height: 1.8;
    color: #FFFFFF;
    text-shadow:  -1px -1px 0 #000, /* Black outline */
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000; 
}

.fish-part {
    color: #FFFF00;
    font-size: 1.2em; /* Adjust the size */
    font-family: 'Pacifico', cursive; /* Apply the same font as the title */
    letter-spacing: 3px; /* Increase the spacing between letters */
    margin-right: -5px; /* Adjust the spacing between "Fish" and "CINS" */
}

.cins-part {
    color: #ff6303;
    font-size: 1.2em; /* Adjust the size */
    font-family: 'Pacifico', cursive; /* Apply the same font as the title */
    letter-spacing: 3px; /* Increase the spacing between letters */
}


.about-section,
.contact-section,
.location-section {
    background-color: rgba(48, 48, 48, 0.8); /* Adjust the last value (0.8) for opacity */
    color: var(--color-white);
    font-family: 'Pacifico', cursive;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--color-primary);
}

.section-description,
.about-description,
.contact-details,
.location-description {
    background-color: rgba(30, 25, 48, 0.8); 
    color: var(--color-white);
    font-family: 'Lobster', cursive;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.section-description p,
.about-description p,
.contact-details p,
.location-description p {
    font-family: 'Lobster', cursive;
    font-size: 1em;
    line-height: 1.6;
    color: var(--color-white);
}

.about-section h3,
.contact-section h3,
.location-section h3 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
